.project_container{
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: fit-content;
}